.App {
  box-sizing: border-box;
}

.header__container {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.header {
  position: relative;
  width: 100%;
  height: 250px;
}

.header:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-99deg, #e81cff 0%, #40c9ff 98% );
  transform: translate3d(0px, 17px, 0) scale(0.95);
  filter: blur(22px);
  opacity: var(0.71);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.header::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}


.logo {
  width: 200px;
  height: 200px;
}

.title {
  font-weight: 300;
}

.sub-title {
  text-align: center;
  font-weight: 300;
}

.container {
  margin: 50px auto;
  max-width: 95%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.body__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text span {
  height: 100%;
  font-weight: 200;
}

.emoji {
  font-size: 30px;
}

.arrow {
  width: 20px;
  height: 20px;
}

.arrow-left {
  transform: rotate(180deg);
}

.review__text {
  box-sizing: border-box;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 200;
}